@import './mixin';
* {
  // @apply shrink-0;
}
body {
  background: linear-gradient(0deg, #fff, #fff);

  @apply bg-white relative;
  &::after,
  &::before {
    opacity: 0.5;
    filter: blur(100px);
  }
  &::before {
    @include after(
      $w: 50vw,
      $h: 1000px,
      $t: -200px,
      $l: 0px,
      $bg: linear-gradient(0deg, #ffdb803c 0%, #ffdb8069 100%)
    );
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
  }
  &::after {
    @include after(
      $w: 50vw,
      $h: 1000px,
      $t: -200px,
      $r: 0px,
      $bg: linear-gradient(0deg, #47cbf339 0%, #47cbf363 100%)
    );
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
  }
}

header {
  @apply flex justify-between items-center py-10 px-52;
  ul {
    @apply flex w-max;
    li {
      @apply px-3 text-grey;
    }
  }
  div {
    @apply text-2xl;
  }
}

main {
  @apply px-52 bg-transparent;
}

footer {
  background-image: linear-gradient(0deg, #fd5c2f2a 0%, #fff 100%);
  @apply w-full flex justify-between py-28 px-52;
  h2 {
    @apply text-2xl pb-3;
  }
  h3 {
    @apply text-xl pb-3 text-orange;
  }
  ul,
  p {
    @apply font-light;
  }

  .text {
    @apply max-w-xs;
  }

  ul {
    li {
      @apply py-2;
    }
  }

  .follow {
    ul {
      // @apply flex;
      li {
        // @apply w-8 h-8 rounded-full bg-green-500 mr-3;
      }
    }
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

